<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Public/bulma.css">
    <link rel="stylesheet" href="../Public/styles.css">

</head>
<body>

    <header class="cheader ctext1 p-3 columns">
        <h1 class="column has-text-centered is-size-1">Burger  Logger</h1>
    </header>

    <div class="columns">
        <img  class="p-3" src="resources\burger_122704.png" alt="burger">
    </div>
   
    <div class="columns level level-item">

            <!--Left panel-->

            <div class="column is-one-third">
               
                <h1 class="cbg2 ctext2 p-1 my-1 level">Burger 1 text <button class="level-right ctext2 button">Devoure it</button></h1>
                <h1 class="cbg2 ctext2 p-1 my-1 level">Burger 1 text <button class="level-right ctext2 button">Devoure it</button></h1>
                <h1 class="cbg2 ctext2 p-1 my-1 level">Burger 1 text <button class="level-right ctext2 button">Devoure it</button></h1>

            </div>

            <!--Right panel-->

            <div class="column is-one-third">

                <lu id="burger-devoured">

                    <li class="cbg2 ctext2 p-1 my-1">Burger 1 text</li>
                    <li class="cbg2 ctext2 p-1 my-1">Burger 1 text</li>
                    <li class="cbg2 ctext2 p-1 my-1">Burger 1 text</li>
                    

                </lu>

            </div>

            <!--Input box-->
        
        

    </div>

    <div id="input-burger" class="columns level level-item">
        <div class="control column is-one-third">
            <textarea class="textarea" placeholder="burger"></textarea>
          </div>
       
    </div>
    <div id="input-burger-button" class="columns level level-item">
               <button class="ctext2 button">Submit</button>
    </div>


</body>
</html>