   <li class="cbg2 ctext2 p-1 my-1 level">{{burger_name}} <div>
        <button id="{{id}}" class="has-background-success has-text-light ctext2 log-button">â†</button>
        <button id="{{id}}" class="ctext2 delete-button has-background-danger has-text-light">X</button>
    </div></li>
               
                
