<h1 class="cbg2 ctext2 p-1 my-1 level">{{burger_name}}
    <div>
        <button id="{{id}}" class="ctext2 devour-button">Devoure it</button>
        <button id="{{id}}" class="ctext2 delete-button has-background-danger has-text-light">X</button>
    </div>
    
</h1>
               
                
